USE [master]
GO
/****** Object:  Database [HRMS]    Script Date: 5/5/2023 5:23:31 PM ******/
CREATE DATABASE [HRMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRMS]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [varchar](50) NULL,
	[IN_TIME] [datetime] NULL,
	[OUT_TIME] [datetime] NULL,
	[BREAK_TIME] [datetime] NULL,
	[PUNCHING_LOCATION_IN] [varchar](20) NULL,
	[WORKING_HOURS] [int] NULL,
	[ATTENDANCE_DATE] [datetime] NULL,
	[IS_APPROVED_ATTENDANCE] [bit] NULL,
	[IS_REJECTED_ATTENDANCE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
	[PUNCHING_LOCATION_OUT] [varchar](100) NULL,
 CONSTRAINT [PK__ATTENDAN__3214EC07DD6A7023] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceDetails]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[InTime] [datetime] NULL,
	[OutTime] [datetime] NULL,
	[UserId] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY_ACCESSORIES]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY_ACCESSORIES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EM_ID] [varchar](50) NOT NULL,
	[ACCESS_ID] [int] NULL,
	[ASSIGN_DATE] [datetime] NULL,
	[SUBMIT_DATE] [datetime] NULL,
	[ASSECC_SERIAL_NO] [int] NULL,
	[ASSECC_DESCRIPTION] [varchar](50) NULL,
	[WORKING_CONDITION_SUBITION] [varchar](20) NULL,
	[SUBMITON_REMARK] [varchar](50) NULL,
	[IS_APPROVED] [bit] NULL,
	[IS_REJECTED] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
	[APPROVER_REjECTION_REMARK] [varchar](50) NULL,
 CONSTRAINT [PK__COMPANY___3214EC07CAA78E9F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_ATTENDANCE_APPROVEL]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_ATTENDANCE_APPROVEL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [varchar](50) NULL,
	[IN_TIME] [datetime] NULL,
	[OUT_TIME] [datetime] NULL,
	[IS_APPROVED] [bit] NULL,
	[IS_REJECTED] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
	[Remark] [nvarchar](50) NULL,
	[APPROVEL_DATE] [datetime] NULL,
	[Manager_Remark] [varchar](50) NULL,
 CONSTRAINT [PK__EMP_ATTE__3214EC07258B8C52] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_DOCS]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_DOCS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EM_ID] [varchar](50) NOT NULL,
	[DOC_ID] [int] NULL,
	[DOC_PATH] [varbinary](max) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [PK__EMP_DOCS__3214EC077D5DADD7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_FORM_16]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_FORM_16](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [varchar](50) NOT NULL,
	[FROM_16_YEAR] [datetime] NULL,
	[ATTACHMENT] [varbinary](max) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [PK__EMP_FORM__3214EC0787C79BFA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_SALARY_SLIP]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_SALARY_SLIP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EM_ID] [varchar](50) NOT NULL,
	[SALARY_SLIP__MONTH] [datetime] NULL,
	[S_S_YEAR] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [PK__EMP_SALA__3214EC077DB14272] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_WORK_OFF]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_WORK_OFF](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EM_ID] [varchar](50) NOT NULL,
	[WEEK_OF_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [PK__EMP_WORK__3214EC07E4F367B3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE_DOCUMENT]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_DOCUMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[EMP_AADHAR_CARD] [int] NULL,
	[EMP_PAN_CARD] [varchar](20) NULL,
	[EMP_PHOTO] [varbinary](max) NULL,
	[QUALIFICATION_DOCUMENT1] [varbinary](max) NULL,
	[QUALIFICATION_DOCUMENT2] [varbinary](max) NULL,
	[QUALIFICATION_DOCUMENT3] [varbinary](max) NULL,
	[QUALIFICATION_DOCUMENT4] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](20) NOT NULL,
	[Last_Name] [varchar](20) NULL,
	[Father_Name] [varchar](20) NULL,
	[Date_of_Joining] [date] NULL,
	[Location_Id] [int] NULL,
	[Mobile_No] [varchar](20) NOT NULL,
	[Alternate_No] [varchar](50) NULL,
	[Contact_Manager_Id] [int] NULL,
	[Degistation_Id] [int] NULL,
	[Is_Active] [bit] NULL,
	[Time_Stamp] [datetime] NULL,
	[Total_Leave] [int] NULL,
	[Date_of_Releave] [date] NULL,
	[Current_Address] [varchar](100) NULL,
	[Email_Id] [varchar](50) NULL,
	[Role_Id] [int] NULL,
	[EMP_ID]  AS (('SAC'+'')+CONVERT([varchar](50),[ID])) PERSISTED,
	[Gender] [varchar](10) NULL,
	[Dob] [date] NULL,
	[Emp_Shift_Id] [int] NULL,
	[Emp_Image] [varchar](500) NULL,
 CONSTRAINT [PK__Employee__3214EC07B449C35F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSE]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EM_ID] [varchar](50) NOT NULL,
	[EXPENSE_ID] [int] NULL,
	[EXPENSE_AMOUNT] [int] NULL,
	[BILL_NO] [int] NULL,
	[EXPENSE_DATE] [datetime] NULL,
	[ATTACHMENT] [varbinary](max) NULL,
	[IS_APPROVED] [bit] NULL,
	[IS_REJECTED] [bit] NULL,
	[PAYMENT_STATUES] [varchar](10) NULL,
	[EXPANXE_REMARK] [varchar](100) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
	[APPROVER_REDECTION_REMARK] [varchar](20) NULL,
 CONSTRAINT [PK__EXPENSE__3214EC075E7E1E88] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEAVE]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEAVE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [varchar](50) NULL,
	[TYPE_LEAVE] [varchar](50) NULL,
	[APPLIED_TOTAL_LEAVE] [int] NULL,
	[REASON_FOR_LEAVE] [varchar](20) NULL,
	[LEAVE_FROM_DATE] [datetime] NULL,
	[LEAVE_TO_DATE] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
 CONSTRAINT [PK__LEAVE__3214EC0751FCA257] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Msr_shift]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Msr_shift](
	[SHIFT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [varchar](50) NOT NULL,
	[SHIFT_DATE] [datetime] NOT NULL,
	[SHIFT_TYPE] [varchar](50) NOT NULL,
	[SHIFT_START_TIME] [datetime] NOT NULL,
	[SHIFT_END_TIME] [datetime] NOT NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK__Msr_shif__EF7FA007227C9283] PRIMARY KEY CLUSTERED 
(
	[SHIFT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Accessoire]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Accessoire](
	[Accessoire_ID] [int] IDENTITY(1,1) NOT NULL,
	[Accessoire_Name] [nvarchar](50) NOT NULL,
	[Accessoire_Type] [nvarchar](50) NOT NULL,
	[EXPENCE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Accessoire_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_DEPARTMENT]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DEPARTMENT](
	[DEPARTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_NAME] [nvarchar](50) NOT NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_DESIGNATION]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DESIGNATION](
	[DESIGNATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESIGNATION_NAME] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DESIGNATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_DOCUMENT]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DOCUMENT](
	[DOCUMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_TYPE] [nvarchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_EMP_USER]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_EMP_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[EMP_ID] [nvarchar](50) NULL,
	[IS_ACTIVE] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_EXPENSE]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_EXPENSE](
	[EXPENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXPENSE_AMOUNT] [int] NOT NULL,
	[EXPENCE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EXPENSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_LEAVE]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LEAVE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LEAVE_TYPE] [varchar](20) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_Location]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Is_Active] [bit] NULL,
	[Time_Stamp] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_ROLE]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_TYPE] [nvarchar](50) NOT NULL,
	[TIMESTAMP] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mst_Shift]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mst_Shift](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Slot] [varchar](20) NOT NULL,
	[Location_Id] [int] NULL,
	[Is_Active] [bit] NULL,
	[Time_Stamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_TOTAL_LEAVE]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_TOTAL_LEAVE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EM_ID] [int] NOT NULL,
	[LEAVE_ID] [int] NOT NULL,
	[TOTAL_LEAVE] [int] NULL,
	[BALANCE_LEAVE] [int] NULL,
	[LEAVE_YEAR] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOMINEE_DETAILS]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOMINEE_DETAILS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[NOM_NAME] [varchar](20) NULL,
	[NOM_SHARE] [varchar](20) NULL,
	[RELATION_WITH_EMP] [varchar](20) NULL,
	[NOM_AADHAR_NUMBER] [int] NULL,
	[NOM_PAN_CARD] [varchar](50) NULL,
	[NOM_DOB] [datetime] NULL,
	[IS_MINOR] [bit] NULL,
	[NOM_Guardion_NAME] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
	[APPROVER_REDECTION_REMARK] [varchar](200) NULL,
 CONSTRAINT [PK__NOMINEE___3214EC07EBD987A5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_ROLE]    Script Date: 5/5/2023 5:23:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_ROLE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [varchar](50) NOT NULL,
	[BASIC] [varchar](10) NULL,
	[HRA] [varchar](10) NULL,
	[DA] [varchar](10) NULL,
	[TA] [varchar](10) NULL,
	[SPECIAL_ALLOWANCE] [varchar](10) NULL,
	[BONUS] [varchar](10) NULL,
	[CONVENEYANCE] [varchar](10) NULL,
	[OTHER_EARNING] [varchar](10) NULL,
	[PF_DURATION] [datetime] NULL,
	[ESI] [varchar](10) NULL,
	[IT] [varchar](10) NULL,
	[MEDICAL_INSURANCE] [varchar](10) NULL,
	[OTHER_DEDUCTION] [varchar](10) NULL,
	[CTC] [varchar](10) NULL,
	[NET_PAYMENT] [varchar](10) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TIMESTAMP] [datetime] NULL,
	[IN_CURRENT_DATETIME] [datetime] NULL,
 CONSTRAINT [PK__PAY_ROLE__3214EC071D2D3AE5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AttendanceDetails] ON 

INSERT [dbo].[AttendanceDetails] ([Id], [InTime], [OutTime], [UserId], [is_active]) VALUES (4, CAST(N'2023-05-03T16:09:52.710' AS DateTime), NULL, N'SAC1027', 1)
INSERT [dbo].[AttendanceDetails] ([Id], [InTime], [OutTime], [UserId], [is_active]) VALUES (10007, CAST(N'2023-05-05T11:51:14.493' AS DateTime), NULL, N'SAC1019', 1)
INSERT [dbo].[AttendanceDetails] ([Id], [InTime], [OutTime], [UserId], [is_active]) VALUES (10008, CAST(N'2023-05-05T11:56:27.740' AS DateTime), NULL, N'SAC1024', 1)
SET IDENTITY_INSERT [dbo].[AttendanceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[EMP_ATTENDANCE_APPROVEL] ON 

INSERT [dbo].[EMP_ATTENDANCE_APPROVEL] ([Id], [EMP_ID], [IN_TIME], [OUT_TIME], [IS_APPROVED], [IS_REJECTED], [IS_ACTIVE], [TIMESTAMP], [Remark], [APPROVEL_DATE], [Manager_Remark]) VALUES (1006, N'SAC1024', CAST(N'2023-05-05T04:00:00.000' AS DateTime), NULL, 0, 0, 1, CAST(N'2023-05-05T11:48:26.353' AS DateTime), N'CHECK1', NULL, NULL)
INSERT [dbo].[EMP_ATTENDANCE_APPROVEL] ([Id], [EMP_ID], [IN_TIME], [OUT_TIME], [IS_APPROVED], [IS_REJECTED], [IS_ACTIVE], [TIMESTAMP], [Remark], [APPROVEL_DATE], [Manager_Remark]) VALUES (1007, N'SAC1024', CAST(N'2023-05-05T05:00:00.000' AS DateTime), NULL, 0, 0, 1, CAST(N'2023-05-05T11:49:43.790' AS DateTime), N'CHECK2', CAST(N'2023-05-05T11:54:36.483' AS DateTime), NULL)
INSERT [dbo].[EMP_ATTENDANCE_APPROVEL] ([Id], [EMP_ID], [IN_TIME], [OUT_TIME], [IS_APPROVED], [IS_REJECTED], [IS_ACTIVE], [TIMESTAMP], [Remark], [APPROVEL_DATE], [Manager_Remark]) VALUES (1008, N'SAC1019', CAST(N'2023-05-05T07:00:00.000' AS DateTime), NULL, 0, 0, 1, CAST(N'2023-05-05T11:50:58.497' AS DateTime), N'mA', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EMP_ATTENDANCE_APPROVEL] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeDetails] ON 

SET IDENTITY_INSERT [dbo].[EmployeeDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[LEAVE] ON 

INSERT [dbo].[LEAVE] ([Id], [EMP_ID], [TYPE_LEAVE], [APPLIED_TOTAL_LEAVE], [REASON_FOR_LEAVE], [LEAVE_FROM_DATE], [LEAVE_TO_DATE], [IS_ACTIVE], [TIMESTAMP]) VALUES (1, NULL, N'1', 1, N'Fever', CAST(N'2023-04-25T00:00:00.000' AS DateTime), CAST(N'2023-04-25T00:00:00.000' AS DateTime), 1, CAST(N'2023-04-25T11:12:13.977' AS DateTime))
INSERT [dbo].[LEAVE] ([Id], [EMP_ID], [TYPE_LEAVE], [APPLIED_TOTAL_LEAVE], [REASON_FOR_LEAVE], [LEAVE_FROM_DATE], [LEAVE_TO_DATE], [IS_ACTIVE], [TIMESTAMP]) VALUES (2, NULL, N'1', 1, N'Fever', CAST(N'2023-04-25T00:00:00.000' AS DateTime), CAST(N'2023-04-25T00:00:00.000' AS DateTime), 1, CAST(N'2023-04-25T12:11:27.450' AS DateTime))
INSERT [dbo].[LEAVE] ([Id], [EMP_ID], [TYPE_LEAVE], [APPLIED_TOTAL_LEAVE], [REASON_FOR_LEAVE], [LEAVE_FROM_DATE], [LEAVE_TO_DATE], [IS_ACTIVE], [TIMESTAMP]) VALUES (3, NULL, N'2', 1, N'Importent work', CAST(N'2023-04-25T00:00:00.000' AS DateTime), CAST(N'2023-04-25T00:00:00.000' AS DateTime), 1, CAST(N'2023-04-25T12:13:18.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[LEAVE] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_Accessoire] ON 

INSERT [dbo].[MST_Accessoire] ([Accessoire_ID], [Accessoire_Name], [Accessoire_Type], [EXPENCE_DATE]) VALUES (1, N'Laptop', N'Windows Laptops', CAST(N'2023-04-21T00:00:00.000' AS DateTime))
INSERT [dbo].[MST_Accessoire] ([Accessoire_ID], [Accessoire_Name], [Accessoire_Type], [EXPENCE_DATE]) VALUES (2, N'Mobile', N'Electonics', CAST(N'2023-04-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Accessoire] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_DEPARTMENT] ON 

INSERT [dbo].[MST_DEPARTMENT] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [IS_ACTIVE], [TIMESTAMP]) VALUES (1, N'IT', 1, CAST(N'2023-04-21T11:11:17.133' AS DateTime))
INSERT [dbo].[MST_DEPARTMENT] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [IS_ACTIVE], [TIMESTAMP]) VALUES (2, N'ACCOUNTS', 1, CAST(N'2023-04-21T11:39:17.733' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_DOCUMENT] ON 

INSERT [dbo].[MST_DOCUMENT] ([DOCUMENT_ID], [DOCUMENT_TYPE], [IS_ACTIVE], [TIMESTAMP]) VALUES (1, N'Aadhar Card', 1, CAST(N'2023-04-19T11:50:32.670' AS DateTime))
INSERT [dbo].[MST_DOCUMENT] ([DOCUMENT_ID], [DOCUMENT_TYPE], [IS_ACTIVE], [TIMESTAMP]) VALUES (2, N'Aadhar Card', 1, CAST(N'2023-04-19T12:00:14.173' AS DateTime))
INSERT [dbo].[MST_DOCUMENT] ([DOCUMENT_ID], [DOCUMENT_TYPE], [IS_ACTIVE], [TIMESTAMP]) VALUES (1002, N'Aadhar Card', 1, CAST(N'2023-04-20T11:05:53.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_DOCUMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_EMP_USER] ON 

INSERT [dbo].[MST_EMP_USER] ([ID], [FIRST_NAME], [LAST_NAME], [PASSWORD], [ADDRESS], [EMP_ID], [IS_ACTIVE]) VALUES (1, N'Akash', N'Sharma', N'SAC101', N'Lucknow', N'SAC1019', 1)
INSERT [dbo].[MST_EMP_USER] ([ID], [FIRST_NAME], [LAST_NAME], [PASSWORD], [ADDRESS], [EMP_ID], [IS_ACTIVE]) VALUES (2, N'Mohit', N'Sharma', N'SAC101', N'Lucknow', N'SAC1024', 1)
INSERT [dbo].[MST_EMP_USER] ([ID], [FIRST_NAME], [LAST_NAME], [PASSWORD], [ADDRESS], [EMP_ID], [IS_ACTIVE]) VALUES (3, N'Arjun', N'Singh', N'SAC101', N'Lucknow', N'SAC1025', 1)
SET IDENTITY_INSERT [dbo].[MST_EMP_USER] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_LEAVE] ON 

INSERT [dbo].[MST_LEAVE] ([Id], [LEAVE_TYPE], [IS_ACTIVE], [TIMESTAMP]) VALUES (1, N'Cl', 1, CAST(N'2023-04-21T09:38:38.173' AS DateTime))
INSERT [dbo].[MST_LEAVE] ([Id], [LEAVE_TYPE], [IS_ACTIVE], [TIMESTAMP]) VALUES (2, N'EL', 1, CAST(N'2023-04-26T11:33:30.240' AS DateTime))
INSERT [dbo].[MST_LEAVE] ([Id], [LEAVE_TYPE], [IS_ACTIVE], [TIMESTAMP]) VALUES (3, N'SL', 1, CAST(N'2023-04-26T11:34:31.623' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_LEAVE] OFF
GO
SET IDENTITY_INSERT [dbo].[Mst_Location] ON 

INSERT [dbo].[Mst_Location] ([Id], [Name], [Is_Active], [Time_Stamp]) VALUES (1, N'Jaipur', 1, CAST(N'10:30:16.3833333' AS Time))
INSERT [dbo].[Mst_Location] ([Id], [Name], [Is_Active], [Time_Stamp]) VALUES (2, N'Ajmer', 1, CAST(N'10:32:36.8900000' AS Time))
INSERT [dbo].[Mst_Location] ([Id], [Name], [Is_Active], [Time_Stamp]) VALUES (3, N'Lucknow', 1, CAST(N'09:23:11.2600000' AS Time))
SET IDENTITY_INSERT [dbo].[Mst_Location] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_ROLE] ON 

INSERT [dbo].[MST_ROLE] ([ROLE_ID], [ROLE_TYPE], [TIMESTAMP], [IS_ACTIVE]) VALUES (1, N'HR', CAST(N'2023-04-21T12:39:25.847' AS DateTime), 1)
INSERT [dbo].[MST_ROLE] ([ROLE_ID], [ROLE_TYPE], [TIMESTAMP], [IS_ACTIVE]) VALUES (2, N'Admin', CAST(N'2023-04-21T17:48:11.000' AS DateTime), 1)
INSERT [dbo].[MST_ROLE] ([ROLE_ID], [ROLE_TYPE], [TIMESTAMP], [IS_ACTIVE]) VALUES (3, N'Technical support', CAST(N'2023-04-26T14:37:48.847' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MST_ROLE] OFF
GO
SET IDENTITY_INSERT [dbo].[Mst_Shift] ON 

INSERT [dbo].[Mst_Shift] ([Id], [Name], [Slot], [Location_Id], [Is_Active], [Time_Stamp]) VALUES (5, N'Morning', N'8 am to 4 pm', 1, 1, CAST(N'2023-04-21T14:26:05.853' AS DateTime))
INSERT [dbo].[Mst_Shift] ([Id], [Name], [Slot], [Location_Id], [Is_Active], [Time_Stamp]) VALUES (6, N'Evening', N'4 pm to 12 am', 1, 1, CAST(N'2023-04-21T14:26:33.440' AS DateTime))
INSERT [dbo].[Mst_Shift] ([Id], [Name], [Slot], [Location_Id], [Is_Active], [Time_Stamp]) VALUES (7, N'Night', N'12 am to 8 am', 1, 1, CAST(N'2023-04-21T14:26:59.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[Mst_Shift] OFF
GO
SET IDENTITY_INSERT [dbo].[NOMINEE_DETAILS] ON 

INSERT [dbo].[NOMINEE_DETAILS] ([Id], [EMP_ID], [NOM_NAME], [NOM_SHARE], [RELATION_WITH_EMP], [NOM_AADHAR_NUMBER], [NOM_PAN_CARD], [NOM_DOB], [IS_MINOR], [NOM_Guardion_NAME], [IS_ACTIVE], [TIMESTAMP], [APPROVER_REDECTION_REMARK]) VALUES (1, 1018, N'Rani Yadav', N'100%', N'Mother', 122457890, N'DSP12009', CAST(N'1991-11-02T00:00:00.000' AS DateTime), 1, N'Ram Yadav', 1, CAST(N'2023-04-25T11:02:25.163' AS DateTime), N'yes')
INSERT [dbo].[NOMINEE_DETAILS] ([Id], [EMP_ID], [NOM_NAME], [NOM_SHARE], [RELATION_WITH_EMP], [NOM_AADHAR_NUMBER], [NOM_PAN_CARD], [NOM_DOB], [IS_MINOR], [NOM_Guardion_NAME], [IS_ACTIVE], [TIMESTAMP], [APPROVER_REDECTION_REMARK]) VALUES (2, 1019, N'Malti Yadav', N'100%', N'Mother', 0, N'As83432', CAST(N'1980-04-25T00:00:00.000' AS DateTime), 1, N'Simmran Yadav', 1, CAST(N'2023-04-25T11:27:22.567' AS DateTime), N'yes')
INSERT [dbo].[NOMINEE_DETAILS] ([Id], [EMP_ID], [NOM_NAME], [NOM_SHARE], [RELATION_WITH_EMP], [NOM_AADHAR_NUMBER], [NOM_PAN_CARD], [NOM_DOB], [IS_MINOR], [NOM_Guardion_NAME], [IS_ACTIVE], [TIMESTAMP], [APPROVER_REDECTION_REMARK]) VALUES (3, 1020, N'Shivam', N'Shingh', N'Mother', 1223434545, N'As83432', CAST(N'2023-04-25T00:00:00.000' AS DateTime), 1, N'Simmran', 1, CAST(N'2023-04-25T11:30:57.833' AS DateTime), N'yes')
SET IDENTITY_INSERT [dbo].[NOMINEE_DETAILS] OFF
GO
ALTER TABLE [dbo].[EMPLOYEE_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE___EMP_I__50C5FA01] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EmployeeDetails] ([Id])
GO
ALTER TABLE [dbo].[EMPLOYEE_DOCUMENT] CHECK CONSTRAINT [FK__EMPLOYEE___EMP_I__50C5FA01]
GO
ALTER TABLE [dbo].[EmployeeDetails]  WITH CHECK ADD  CONSTRAINT [FK__EmployeeD__Emp_S__5E1FF51F] FOREIGN KEY([Emp_Shift_Id])
REFERENCES [dbo].[Mst_Shift] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDetails] CHECK CONSTRAINT [FK__EmployeeD__Emp_S__5E1FF51F]
GO
ALTER TABLE [dbo].[NOMINEE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__NOMINEE_D__EMP_I__351DDF8C] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EmployeeDetails] ([Id])
GO
ALTER TABLE [dbo].[NOMINEE_DETAILS] CHECK CONSTRAINT [FK__NOMINEE_D__EMP_I__351DDF8C]
GO
/****** Object:  StoredProcedure [dbo].[ACCEPT_APPROVEL_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACCEPT_APPROVEL_SP](
@EMP_ID VARCHAR(50),
@ID INT,
@Manager_Remark nvarchar(50)
)
AS
BEGIN
UPDATE  EMP_ATTENDANCE_APPROVEL
SET IS_APPROVED = 1, APPROVEL_DATE=GETDATE()  ,Manager_Remark=@Manager_Remark
WHERE EMP_ID=@EMP_ID and Id=@ID;

end
GO
/****** Object:  StoredProcedure [dbo].[ASSESSIRE_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ASSESSIRE_SP](
@ASSESSIRE_NAME VARCHAR(50),
@ASSESSIRE_TYPE VARCHAR(50),
@EXPANCE_DATE DATE
)
AS
BEGIN
INSERT INTO MST_Accessoire(Accessoire_Name,Accessoire_Type,EXPENCE_DATE)
VALUES(@ASSESSIRE_NAME,@ASSESSIRE_TYPE,@EXPANCE_DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[ATTENDANCE_APPROVEL_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ATTENDANCE_APPROVEL_SP] @EMP_ID nvarchar(50),@In_Out nvarchar(5),@IN_TIME DATETIME,@Remark nvarchar(200)ASBEGIN	if(@In_Out='In')	BEGIN		INSERT INTO EMP_ATTENDANCE_APPROVEL(EMP_ID,IN_TIME,OUT_TIME,IS_APPROVED,IS_REJECTED,IS_ACTIVE,TIMESTAMP,Remark)		VALUES(@EMP_ID,@IN_TIME,null,0,0,1,GETDATE(),@Remark)	END	else	BEGIN					INSERT INTO EMP_ATTENDANCE_APPROVEL(EMP_ID,IN_TIME,OUT_TIME,IS_APPROVED,IS_REJECTED,IS_ACTIVE,TIMESTAMP,Remark)			VALUES(@EMP_ID,null,@IN_TIME,0,0,1,GETDATE(),@Remark)			ENDEND
GO
/****** Object:  StoredProcedure [dbo].[DELETE_APPROVEL_ATTENDANCE]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_APPROVEL_ATTENDANCE](
@EMP_ID VARCHAR(50),
@ID INT
)
AS
BEGIN
DELETE FROM EMP_ATTENDANCE_APPROVEL WHERE EMP_ID=@EMP_ID AND Id= @ID ;
END
GO
/****** Object:  StoredProcedure [dbo].[DOCUMENT_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DOCUMENT_SP](
@DEPARTMENT_NAME VARCHAR(50)
)
AS
BEGIN
INSERT INTO MST_DEPARTMENT(DEPARTMENT_NAME,IS_ACTIVE,TIMESTAMP)
VALUES(@DEPARTMENT_NAME, 1,GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[EMP_LEAVE_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EMP_LEAVE_SP](
@EMP_ID VARCHAR(50),
@TYPE_LEAVE VARCHAR(50) ,
@AAPLIED_TOTAL_LEAVE INT,
@REASON_FOR_LEAVE VARCHAR(20),
@LEAVE_FROM_DATE DATETIME,
@LEAVE_TO_DATE DATETIME
)
AS
BEGIN

  
INSERT INTO LEAVE(EMP_ID,TYPE_LEAVE,APPLIED_TOTAL_LEAVE,REASON_FOR_LEAVE,LEAVE_FROM_DATE,LEAVE_TO_DATE ,IS_ACTIVE,TIMESTAMP)
VALUES(@EMP_ID,@TYPE_LEAVE,@AAPLIED_TOTAL_LEAVE,@REASON_FOR_LEAVE, convert (date,@LEAVE_FROM_DATE), convert (date ,@LEAVE_TO_DATE),1,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[EMPLOYEE_DETAILS_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EMPLOYEE_DETAILS_SP](
@FIRST_NAME NVARCHAR(50),
@LAST_NAME NVARCHAR(50),
@Gender varchar(10),
@Emp_Dob Datetime,
@FATHER_NAME NVARCHAR(50),
@Date_of_JOINING Datetime,
@LOCATION_ID INT,
@MOBILE_NO NVARCHAR(50),
@ALTERNATE_No NVARCHAR(50) ,
@CONTACT_MANAGER_ID INT,
@DESIGATION_ID INT,
@TOTAL_LEAVE INT,
@DATE_OF_RELEAVE Datetime,
@CURRENT_ADDRESS NVARCHAR(50),
@EMAIL_ID NVARCHAR(50),
@ROLE_ID INT,
@NOM_NAME NVARCHAR(20),
@NOM_SHARE  VARCHAR(20),
@RELATION_WITH_EMP  VARCHAR(50),
@NOM_AADHAR_NUMBER int,
@NOM_PAN_CARD varchar(20),
@NOM_DOB Datetime,
@IS_MINOR BIT,
@NOM_GUARDIAN_NAME VARCHAR(50),
@APPROVAL_REJECTION_REMARK NVARCHAR(20),
@DOCUMENT_TYPE  NVARCHAR(30),
@Emp_Img  NVARCHAR(500)

)

AS
begin
  declare @emp_id varchar(50)
	insert into EmployeeDetails( First_Name,Last_Name,Gender,Dob,Father_Name, Date_of_Joining,Location_Id,Mobile_No,Alternate_No,Contact_Manager_Id,Degistation_Id,Is_Active,Time_Stamp,Total_Leave,Date_of_Releave,Current_Address,Email_Id,Role_Id,Emp_Image)
	Values(@FIRST_NAME,@LAST_NAME,@Gender, convert (date ,@Emp_Dob),@FATHER_NAME,convert(date,@Date_of_JOINING),@LOCATION_ID,@MOBILE_NO,@ALTERNATE_No,@CONTACT_MANAGER_ID,@DESIGATION_ID,1,GETDATE(),@TOTAL_LEAVE,convert (date,@DATE_OF_RELEAVE),@CURRENT_ADDRESS,@EMAIL_ID,@ROLE_ID,@Emp_Img);

		DECLARE @Id INT=@@identity
		select @emp_id=EMP_ID from EmployeeDetails where Id=@Id
		insert into MST_EMP_USER(FIRST_NAME,LAST_NAME,PASSWORD,ADDRESS ,IS_ACTIVE,EMP_ID)
		values(@FIRST_NAME,@LAST_NAME,'SAC101',@CURRENT_ADDRESS,1,@emp_id)




	INSERT INTO [NOMINEE_DETAILS](NOM_NAME,NOM_SHARE,RELATION_WITH_EMP,NOM_AADHAR_NUMBER,NOM_PAN_CARD,NOM_DOB,IS_MINOR,NOM_Guardion_NAME,IS_ACTIVE,TIMESTAMP,APPROVER_REDECTION_REMARK,EMP_ID)
		VALUES (@NOM_NAME,@NOM_SHARE,@RELATION_WITH_EMP,@NOM_AADHAR_NUMBER,@NOM_PAN_CARD,convert (date,@NOM_DOB),@IS_MINOR,@NOM_GUARDIAN_NAME,1,GETDATE(),	@APPROVAL_REJECTION_REMARK,@Id)

		INSERT INTO MST_DOCUMENT(DOCUMENT_TYPE, IS_ACTIVE,TIMESTAMP)
		VALUES(@DOCUMENT_TYPE, 1, GETDATE());

end
GO
/****** Object:  StoredProcedure [dbo].[GET_APPROVEL_BY_ID_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[GET_APPROVEL_BY_ID_SP](
  @ID INT

  )
  AS
  BEGIN
 SELECT Id, EMP_ID,CASE WHEN IN_TIME IS NULL THEN ' ' ELSE IN_TIME END IN_TIME ,CASE WHEN OUT_TIME IS NULL THEN ' ' ELSE OUT_TIME END OUT_TIME ,IS_APPROVED,IS_REJECTED,Remark,case WHEN IN_TIME IS NULL THEN 'OUT' ELSE 'IN' END TYPE FROM EMP_ATTENDANCE_APPROVEL   where id= @ID    END
GO
/****** Object:  StoredProcedure [dbo].[GET_EMP_DASHBOARD_ATTENDANCE]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_EMP_DASHBOARD_ATTENDANCE]
@Emp_Id varchar(50)
AS
BEGIN
   SELECT Id, EMP_ID,CASE WHEN IN_TIME IS NULL THEN ' ' ELSE IN_TIME END IN_TIME ,CASE WHEN OUT_TIME IS NULL THEN ' ' ELSE OUT_TIME END OUT_TIME ,IS_APPROVED,IS_REJECTED,Remark,case WHEN IN_TIME IS NULL THEN 'OUT' ELSE 'IN' END TYPE FROM EMP_ATTENDANCE_APPROVEL   where EMP_ID= @Emp_Id and IS_APPROVED=0 and IS_REJECTED=0
  union all  SELECT Id, EMP_ID,CASE WHEN IN_TIME IS NULL THEN ' ' ELSE IN_TIME END IN_TIME ,
  CASE WHEN OUT_TIME IS NULL THEN ' ' ELSE OUT_TIME END OUT_TIME ,IS_APPROVED,IS_REJECTED,
  Remark,case WHEN IN_TIME IS NULL THEN 'OUT' ELSE 'IN' END TYPE FROM EMP_ATTENDANCE_APPROVEL 
  WHERE EMP_ID IN
(SELECT EMP_ID FROM EmployeeDetails WHERE Contact_Manager_Id=
(SELECT Id FROM EmployeeDetails WHERE EMP_ID= convert(varchar,@Emp_Id))) and IS_APPROVED=0 and IS_REJECTED=0












END
GO
/****** Object:  StoredProcedure [dbo].[GET_EMP_DASHBOARD_LEAVE]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[GET_EMP_DASHBOARD_LEAVE](
@Emp_Id varchar(50)
 )
 AS
 BEGIN
 SELECT Id, EMP_ID,TYPE_LEAVE, APPLIED_TOTAL_LEAVE,REASON_FOR_LEAVE,LEAVE_FROM_DATE,LEAVE_TO_DATE   FROM LEAVE 
 WHERE EMP_ID= @Emp_Id    END
GO
/****** Object:  StoredProcedure [dbo].[GET_EMP_LEAVE_ById]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE PROCEDURE [dbo].[GET_EMP_LEAVE_ById](
  @ID INT

  )
  AS
  BEGIN
 SELECT id, EMP_ID,TYPE_LEAVE, APPLIED_TOTAL_LEAVE,REASON_FOR_LEAVE,LEAVE_FROM_DATE,LEAVE_TO_DATE  FROM LEAVE   where id= @ID    END
GO
/****** Object:  StoredProcedure [dbo].[GET_LEAVE_BY_ID]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[GET_LEAVE_BY_ID](
 @ID INT
 )
 AS
 BEGIN
 SELECT Id, EMP_ID,TYPE_LEAVE, APPLIED_TOTAL_LEAVE,REASON_FOR_LEAVE,LEAVE_FROM_DATE,LEAVE_TO_DATE   FROM LEAVE 
  WHERE id= @ID    END
GO
/****** Object:  StoredProcedure [dbo].[GET_LEAVE_DROPDWON_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_LEAVE_DROPDWON_SP]


AS
BEGIN 

SELECT Id,LEAVE_TYPE  FROM MST_LEAVE;

END
GO
/****** Object:  StoredProcedure [dbo].[GET_LOCATION_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_LOCATION_SP]


AS
BEGIN 

SELECT ID, NAME FROM Mst_Location;

END
GO
/****** Object:  StoredProcedure [dbo].[GET_ROLE_DROPDWON]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ROLE_DROPDWON]
AS
BEGIN
SELECT ROLE_ID ,ROLE_TYPE FROM MST_ROLE
END
GO
/****** Object:  StoredProcedure [dbo].[GetAttendanceTime]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAttendanceTime](@UserId varchar(50))asIF  EXISTS(SELECT * FROM AttendanceDetails WHERE UserId = @UserId  and convert(date,intime)=convert(date,GETDATE())) begin	select InTime, outtime from AttendanceDetails where userId=@UserId and convert(date,intime)=convert(date,GETDATE())ENDelsebeginselect '1900-01-01' InTime,'1900-01-01' outtimeend--select * from AttendanceDetails 
GO
/****** Object:  StoredProcedure [dbo].[GETEMPLOYEE_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETEMPLOYEE_SP]


AS
BEGIN 

SELECT ID, First_Name FROM EmployeeDetails;

END

GO
/****** Object:  StoredProcedure [dbo].[LEAVE_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LEAVE_SP](@LEAVE_TYPE NVARCHAR(20))ASBEGININSERT INTO MST_LEAVE(LEAVE_TYPE,IS_ACTIVE,TIMESTAMP)VALUES(@LEAVE_TYPE,1,GETDATE());END
GO
/****** Object:  StoredProcedure [dbo].[LOCATION_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[LOCATION_SP](@LOCATION_NAME NVARCHAR(50))ASBEGININSERT INTO Mst_Location(Name,IS_ACTIVE,TIME_STAMP)VALUES(@LOCATION_NAME,1,GETDATE());END
GO
/****** Object:  StoredProcedure [dbo].[NOMINEE_DETAILS_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NOMINEE_DETAILS_SP](
	
		@EMP_ID NVARCHAR(20),
		@NOM_NAME NVARCHAR(20),
		@NOM_SHARE  VARCHAR(20),
		@RELATION_WITH_EMP  VARCHAR(50),
		@NOM_AADHAR_NUMBER BIGINT,
		@NOM_PAN_CARD varchar(20),
		@NOM_DOB DATETIME,
		@IS_MINOR BIT,
		@NOM_GUARDIAN_NAME VARCHAR(50),
		@APPROVAL_REJECTION_REMARK NVARCHAR(20)
		)
		AS
		BEGIN
		INSERT INTO [ NOMINEE_DETAILS](EMP_ID,NOM_NAME,NOM_SHARE,RELATION_WITH_EMP,NOM_AADHAR_NUMBER,NOM_PAN_CARD,NOM_DOB,IS_MINOR,NOM_GUARDIAN_NAME,IS_ACTIVE,TIMESTAMP,APPROVAL_REJECTION_REMARK)
		VALUES (@EMP_ID,@NOM_NAME,@NOM_SHARE,@RELATION_WITH_EMP,@NOM_AADHAR_NUMBER,@NOM_PAN_CARD,@NOM_DOB,1,GETDATE(),@IS_MINOR,@NOM_GUARDIAN_NAME,	@APPROVAL_REJECTION_REMARK)
		END
GO
/****** Object:  StoredProcedure [dbo].[REJECT_APPROVEL_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REJECT_APPROVEL_SP](
@EMP_ID VARCHAR (50),
@ID INT
)
AS
BEGIN
UPDATE EMP_ATTENDANCE_APPROVEL
SET IS_REJECTED=1
WHERE EMP_ID=@EMP_ID AND Id=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[ROLE_SP]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ROLE_SP](
@ROLE_TYPE VARCHAR(50)
)
AS
BEGIN
INSERT INTO MST_ROLE(ROLE_TYPE,TIMESTAMP,IS_ACTIVE)
VALUES(@ROLE_TYPE,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[User_Login]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure  [dbo].[User_Login]
(

        @Empid varchar(50),

        @Password varchar(50)
)
AS 

declare @status int
 
BEGIN  
if exists(select * from MST_EMP_USER where EMP_ID=@Empid and Password=@Password)

       set @status=1


else

       set @status=0



  select @status status;

END
GO
/****** Object:  StoredProcedure [dbo].[UserAttendance]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE PROCEDURE [dbo].[UserAttendance]@UserId VARCHAR(50),@InTime nvarchar(5)asif(@InTime='In')begin  	insert into  AttendanceDetails(InTime,OutTime,UserId,Is_active)	Values(GETDATE(),NULL,@UserId,1);endelse	UPDATE AttendanceDetails SET InTime =InTime , OutTime=  GETDATE(),UserId=@UserId, Is_active=1
GO
/****** Object:  StoredProcedure [dbo].[UserRegistration]    Script Date: 5/5/2023 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserRegistration]
@UserId nvarchar(50),
@FirstName nvarchar(50),
@LastName nvarchar(50),
@EmailId nvarchar(50),
@Address nvarchar(50),
@Password  nvarchar(50) ,
@ERROR nvarchar(100) OUT  
      
AS  
BEGIN  
SET NOCOUNT ON;  
IF NOT EXISTS(SELECT * FROM MST_User WHERE UserId = @UserId) 
BEGIN  
	insert into MST_User(UserId, FirstName,LastName,EmailId, Password,Address,CreatedDate,IsActive) 
Values( @UserId, @FirstName,@LastName,@EmailId,@Password,@Address,GETDATE(),1);
SET @ERROR = @UserId + ' Registered Successfully'  
END

ELSE  
BEGIN  
SET @ERROR = @UserId + ' Already Exists'  
END  
END 
GO
USE [master]
GO
